* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
body {
    background-image: url(./asserts/bg.jpg); /*local da img */
    background-position: top center; /*centralizando apartir de cima da iamgem */
    background-size: 100% auto; /* img aparecerar total na horizontal */
    background-repeat: no-repeat; /*para img não se repetir na tela*/
    background-color: #121214;
}

body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
}

/*
main * {
    border: 1px solid red;  PARA VISUALIAR AS BORDAS
}
*/
main {
    max-width: 580px; /*Largura máxima caixa main */
    width: 90%; /* largura do tamanho da tela */
    margin: auto; /* para controlar as marges centralizando */
    display: flex;
    flex-direction: column; /* mantem um embaixo do outro diferente do display: flex; */
    gap: 24px;
    margin-top: 72px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 100%);
    border-radius: 10px;
    padding-top: 4px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    /* border-top: 4px solid red; -para borda com uma cor */
}

section h2 {
    letter-spacing: -0,47px; /* separar as letras */
}

section p {
    letter-spacing: -0,18px;
    color: #a1a1aa;
    
}

section ul {
    display: flex; /* posiçoes */
    flex-wrap: wrap; /* para orgonizar para baixo no reponsivo */
    gap: 16px; /* espaços entre as img */

    margin-top: 24px;
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50px; /*bordas aredondadas */
    width: 70px;
}